@font-face {
  font-family: "Roboto";
  src: url("../Capy/fonts/Roboto-BlackItalic.ttf");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "Roboto";
  src: url("../Capy/fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
#row_test {
  border: 2px solid #0fae13;
}

#result_tittle {
  color: #0fae13;
  font-weight: 500;
  font-family: "Roboto";
  font-weight: bold;
}

#test_hello {
  background: linear-gradient(#0fae13, #7c1094);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 500;
  font-family: "Roboto";
  font-weight: bold;
}

#text-result {
  color: #40444d;
  font-weight: 500;
  font-family: "Roboto";
  font-weight: bold;
}

#test_exp {
  background: linear-gradient(#7c1094, #0fae13);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 500;
  font-family: "Roboto";
  font-weight: bold;
}

#casilla1 {
  width: 2.5rem;
  height: 2.5rem;
  border: 2.5px solid #0fae13;
}

#casilla2 {
  width: 1.8rem;
  height: 1.8rem;
  border: 2.5px solid #0fae13;
}

#casilla3 {
  width: 1.8rem;
  height: 1.8rem;
  border: 2.5px solid #7c1094;
}

#casilla4 {
  width: 2.5rem;
  height: 2.5rem;
  border: 2.5px solid #7c1094;
}

#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login-form-1 {
  padding: 9%;
  background: #0fae13;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
}

#login-form-2 {
  padding: 9%;
  background: #fff; /* Cambia el color de fondo a blanco */
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  color: #282726; /* Cambia el color del texto */
}

#Capy {
  transform: scaleX(-1);
}

#hello {
  color: #0fae13;
  font-weight: 500;
  font-family: "Roboto";
  font-weight: bold;
}

#text {
  color: #40444d;
  font-family: "Roboto";
  font-weight: bold;
}

#button {
  border: 1px solid #40444d;
  background-color: #0fae13;
  text-align: center;
  outline: white;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
}

#Capy_nav {
  font-family: "Roboto";
  font-weight: bold;
  color: #dbb973;
}

#Nav {
  border: 1px solid #806b39;
}

#Home {
  font-family: "Roboto";
  font-weight: bold;
  color: white;
  background-color: #dbb973;
}

#test_cont1 {
  border-radius: 1rem;
  border: 2px solid #0fae13;
}

#test_cont2 {
  background-color: #0fae13;
}

#welcome {
  font-family: "Roboto";
  font-weight: bold;
}

#Exp {
  font-family: "Roboto";
  font-weight: bold;
}

#Capy_sombrero {
  width: 12rem;
  height: 12rem;
}

#test_button {
  background-color: white;
  color: #0fae13;
  font-family: "Roboto";
  font-weight: bold;
}

#max {
  font-family: "Roboto";
  font-weight: bold;
  color: #0fae13;
}

#min {
  font-family: "Roboto";
  font-weight: bold;
  color: #7c1094;
}

#question {
  font-size: "Roboto";
  font-weight: bold;
  color: black;
  text-align: center;
}

#form {
  text-align: center;
}

#description {
  font-size: "Roboto";
  font-weight: bold;
  color: #40444d;
  text-align: center;
}

#nombres {
  font-size: "Roboto";
  font-weight: bold;
  color: black;
  text-align: center;
}

#test_1 {
  font-size: "Roboto";
  font-weight: bold;
  color: black;
}

#test_2 {
  font-size: "Roboto";
  font-weight: bold;
  color: #40444d;
}

#send {
  background-color: white;
  color: #0fae13;
  font-family: "Roboto";
  font-weight: bold;
}

#button_name {
  border: 1px solid white;
  background-color: white;
  text-align: center;
  outline: white;
  color: #dbb973;
  font-family: "Roboto";
  font-weight: bold;
}

#welcomee {
  font-size: "Roboto";
  font-weight: bold;
  color: white;
}

#ingresa_name {
  font-size: "Roboto";
  font-weight: bold;
  color: white;
}

#tittle_chat {
  font-size: "Roboto";
  font-weight: bold;
  color: #0fae13;
}

#text_chat {
  font-size: "Roboto";
  font-weight: bold;
  color: #806b39;
}

#Capy_Hi {
  width: 6rem;
  height: 6rem;
}/*# sourceMappingURL=styles.css.map */