@import 'partials/variables.scss';

body{
    background-color: $info;
}

#Capy{
    height: 40rem;
}

#frase{
    height: 35rem;
}

#box{
    background-color: $success;
    
}

#button1{
    background-color: $primary;
}

#button2{
    background-color: $primary;
}
