<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <tbody>
        <tr>
            <td><input name="materia[]" type="text" size="15" placeholder="Materia" value="" class="form-control"></td>
            <td><input name="nota[]" type="text" min="0" max="5" size="10" placeholder="Nota" value="4.7" required="" class="grade input-number form-control"></td>
            <td><input name="creditos[]" type="text" size="10" placeholder="Num. creditos" value="3" required="" class="input-number form-control"></td>
            
        </tr>
    </tbody>
      
</body>
</html>