@import 'partials/variables.scss';

@font-face {
    font-family: 'Roboto';
    src: url('../Capy/fonts/Roboto-BlackItalic.ttf');
    font-weight: bold;
    font-style: bold;

}

@font-face {
    font-family: 'Roboto';
    src: url('../Capy/fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;

}

#row_test{
    border: 2px solid $success;
}
#result_tittle{
    color: $success;
    font-weight: 500;
    font-family: 'Roboto' ;
    font-weight: bold;

}
#test_hello{
    background: linear-gradient($success,$warning);
    -webkit-background-clip: text;
    color: transparent; 
    font-weight: 500;
    font-family: 'Roboto' ;
    font-weight: bold;
    

}

#text-result{
    color: $info; 
    font-weight: 500;
    font-family: 'Roboto' ;
    font-weight: bold;
}



#test_exp{
    background: linear-gradient($warning,$success);
    -webkit-background-clip: text;
    color: transparent; 
    font-weight: 500;
    font-family: 'Roboto' ;
    font-weight: bold;
}
#casilla1{
    width: 2.5rem;
    height: 2.5rem;
    border: 2.5px solid $success;
}
#miGraficoDeBarra {
    width: 40px;
    height: 40px;
    aspect-ratio: auto;
  }

#casilla2{
    width: 1.8rem;
    height: 1.8rem;
    border: 2.5px solid $success;
}

#casilla3{
    width: 1.8rem;
    height: 1.8rem;
    border: 2.5px solid $warning;
}

#casilla4{
    width: 2.5rem;
    height: 2.5rem;
    border: 2.5px solid $warning;
}



#login-container {
    display: flex;
    align-items: center;
    height: 100vh;
}

#login-form-1 {
    padding: 9%;
    background: $success;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
}

#login-form-2 {
    padding: 9%;
    background: #fff; /* Cambia el color de fondo a blanco */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    color: #282726; /* Cambia el color del texto */
}

#login-home-2 {
    padding: 9%;
    background: #ffffff;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
    justify-content: center; 
    align-items: center;
}

#met-form-1 {
    padding: 9%;
    background: #dbb973;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
    justify-content: center; 
    align-items: center;
}

#met-form-2 {
    padding: 9%;
    background: #fff; /* Cambia el color de fondo a blanco */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    color: #282726; /* Cambia el color del texto */
}

#met-form-3 {
    padding: 4%;
    background: #fff; /* Cambia el color de fondo a blanco */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    color: #282726; /* Cambia el color del texto */
}

#met-form-4 {
    padding: 9%;
    background: #dbb973;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
}

#met-form-5 {
    padding: 9%;
    background: #dbb973;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
    justify-content: center; 
    align-items: center;
}

#met-form-6 {
    padding: 4%;
    background: #fff; /* Cambia el color de fondo a blanco */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    color: #282726; /* Cambia el color del texto */
}

#met-form-7 {
    padding: 4%;
    background: #fff; /* Cambia el color de fondo a blanco */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    color: #282726; /* Cambia el color del texto */
}

#met-form-8 {
    padding: 9%;
    background: #dbb973;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
}

#Capy{
    transform: scaleX(-1);
}

#hello{
    color: $success;
    font-weight: 500;
    font-family: 'Roboto' ;
    font-weight: bold;
}

#calcular-title{
    margin-left: 115px;
    color: $success;
    font-weight: 500;
    font-family: 'Roboto' ;
    font-weight: bold;
}

#graficas-title{
    margin-left: 300px;
    color: #dbb973;
    font-weight: 500;
    font-family: 'Roboto' ;
    font-weight: bold;
}

#graficas-text{
    margin-left: 330px;
    color: $success;
    font-weight: 500;
    font-family: 'Roboto' ;
    font-weight: bold;
}

#promedio{
    margin-top: 50px;
    margin-left: 115px;
    color: #dbb973;
    font-weight: 500;
    font-family: 'Roboto' ;
    font-weight: bold;
}

#promedio2{
    margin-top: 50px;
    margin-left: 115px;
    color: $success;
    font-weight: 500;
    font-family: 'Roboto' ;
    font-weight: bold;
}

#calcular-title2{
    margin-left: 175px;
    color: #dbb973;
    font-weight: 500;
    font-family: 'Roboto' ;
    font-weight: bold;
    margin-right: 175px;
}


#met_title{
    color: #dbb973;
    font-weight: 500;
    font-family: 'Roboto' ;
    font-weight: bold;
    margin-left: 90px;
}


#bienvenido{
    color: #dbb973;
    font-weight: 400;
    font-family: 'Roboto' ;
    font-weight: bold;
    margin-left: 50px;
}

#text{
    color: $info;
    font-family: 'Roboto' ;
    font-weight: bold;
}

#slogan{
    
    justify-content: center; 
    color: #dbb973; 
    font-family: 'Roboto'; 
    font-weight: bold;
}

#box{
    border: 2px solid #dbb973;
    padding: 5px
}

#table-not{
    border-collapse: separate;
    border-spacing: 50px;
}



#text-met{
    
    color: $info;
    font-family: 'Roboto' ;
    font-weight: bold;
    font-size:20px;
    
}

#text-met-sub{
    
    color: $success;
    font-family: 'Roboto' ;
    font-weight: bold;
    font-size:20px;
    
}

#button{
    border: 1px solid $info;
    background-color: $success;
    text-align: center;
    outline: white;
    color: white;
    font-family: 'Roboto' ;
    font-weight: bold;
}

#button-agregar{
    border: 1px solid $info;
    background-color: $success;
    text-align: center;
    outline: white;
    color: white;
    font-family: 'Roboto' ;
    font-weight: bold;
    margin-left: 50px;
    border-radius: 10px;
}

#button-calcular{
    border: 1px solid $info;
    background-color: #dbb973;
    text-align: center;
    outline: white;
    color: white;
    font-family: 'Roboto' ;
    font-weight: bold;
    margin-left: 50px;
    border-radius: 10px;

}

#button-home{
    margin-top: 40px;
    margin-left: 100px;
    border: 1px solid $info;
    background-color: $success;
    text-align: center;
    outline: white;
    color: white;
    font-family: 'Roboto' ;
    font-weight: bold;
}

#next-button{
    border: 1px solid $info;
    background-color: #dbb973;
    text-align: center;
    outline: white;
    color: white;
    font-family: 'Roboto' ;
    font-weight: bold;
}
#delete-button{
    border: 1px solid $info;
    background-color: #ff0000;
    text-align: center;
    outline: white;
    color: white;
    font-family: 'Roboto' ;
    font-weight: bold;
    border-radius: 10px; 
    padding: 5px;
}

#prev-button{
    border: 1px solid $info;
    background-color: #dbb973;
    text-align: center;
    outline: white;
    color: white;
    font-family: 'Roboto' ;
    font-weight: bold;
}

#prev-button1{
    border: 1px solid $info;
    background-color: #dbb973;
    text-align: center;
    outline: white;
    color: white;
    font-family: 'Roboto' ;
    font-weight: bold;
}

#next-button1{
    border: 1px solid $info;
    background-color: #dbb973;
    text-align: center;
    outline: white;
    color: white;
    font-family: 'Roboto' ;
    font-weight: bold;
}

#next-button2{
    border: 1px solid $info;
    background-color: #dbb973;
    text-align: center;
    outline: white;
    color: white;
    font-family: 'Roboto' ;
    font-weight: bold;
}

#Capy_nav{
    font-family: 'Roboto';
    font-weight: bold;
    color: $secondary

}

#Nav{
    border: 1px solid $primary
}

#Home{
    border-radius: 2px;
    padding-right: 2rem;
}

#Home a{
    font-family: 'Roboto';
    font-weight: bold;
    color: white;
    background-color: $secondary;
}

#test_cont1{
    border-radius: 1rem; 
    border: 2px solid $success
}

#test_cont2{
    background-color: $success;
    
    
}

#welcome{
    font-family: 'Roboto' ;
    font-weight: bold;
}

#Exp{
    font-family: 'Roboto' ;
    font-weight: bold;
}

#Capy_sombrero{
    width: 12rem;
    height: 12rem;
}

#Capy_met{
    width: 15rem;
    height: 15rem;
    margin-left: 70px;
    margin-top: 90px;
}


#test_button{
    background-color: white;
    color: $success;
    font-family: 'Roboto';
    font-weight: bold;

    
}



#max{
    font-family: 'Roboto';
    font-weight: bold;
    color: $success;
}

#min{
    font-family: 'Roboto';
    font-weight: bold;
    color: $warning
}

#question{
    font-size: 'Roboto';
    font-weight: bold;
    color: black;
    text-align: center;
}

#form{
    text-align: center;
}

#description{

    font-size: 'Roboto';
    font-weight: bold;
    color: $info;
    text-align: center;
}


  #nombres{
    font-size: 'Roboto';
    font-weight: bold;
    color: black;
    text-align: center;
  }

  #test_1{
    font-size: 'Roboto';
    font-weight: bold;
    color:black;
  }

  #test_2{
    font-size: 'Roboto';
    font-weight: bold;
    color: $info;
  }

  #send{
    background-color: white;
    color: $success;
    font-family: 'Roboto';
    font-weight: bold;
  }

  #button_name{
    border: 1px solid white;
    background-color: white;
    text-align: center;
    outline: white;
    color: $secondary;
    font-family: 'Roboto' ;
    font-weight: bold;
    
  }

  #welcomee{
    font-size: 'Roboto';
    font-weight: bold;
    color:white;    
  }


#ingresa_name{
    font-size: 'Roboto';
    font-weight: bold;
    color:white; 
}

#tittle_chat{
    font-size: 'Roboto';
    font-weight: bold;
    color: $success;
}

#text_chat{
    font-size: 'Roboto';
    font-weight: bold;
    color: $primary;
}

#Capy_Hi{
    width: 6rem;
    height: 6rem;
}

#Capy_Hi3{
    width: 6rem;
    height: 6rem;
}



#table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
  }
  
  #table thead th {
    border: 1px solid $primary;
    background-color: $secondary;
    font-weight: bold;
    text-align: center;
  }
  
  #table tbody td {
    border: 1px solid $primary;
    background-color: whitesmoke;
    text-align: center;
  }


#celd-in{
    color: white;
    background-color: $success;
    font-size: 'Roboto';
    font-weight: bold;
    border: 1px solid $success;

}

#hora{
    font-size: 'Roboto';
    font-weight: bold;
    align-items: center;
    border: 1px solid $primary;
    background-color: $secondary;
    font-weight: bold;
    text-align: center;
}

#dia{
    font-size: 'Roboto';
    font-weight: bold;
    align-items: center;
}

#horario{
    border-radius: 2px;
}

#horario a{
    font-family: 'Roboto';
    font-weight: bold;
    color: white;
    background-color: $secondary;
    border-radius: 1px;
}
#añadir_button{
    background-color: $secondary; /* Color de fondo principal */
    border: 2px solid ;
    border-color: $primary; /* Color del borde */
    color: $primary; /* Color del texto */
    padding: 5px 10px; /* Relleno (padding) del botón */
    border-radius: 4px; /* Bordes redondeados */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Estilo de subrayado para enlaces */
    display: inline-block; /* Hacer que el botón sea un elemento en línea */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    margin-left: 2rem;
    font-family: 'Roboto';
    font-weight: bold;

}

#clase_message{
    font-family: 'Roboto';
    font-weight: bold;

}

#login-form-3{
    padding: 9%;
    background: $success;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    color: #fff;

}

#button_add_class{
    background-color: $success; /* Color de fondo principal */
    border: 2px solid ;
    border-color: $success; /* Color del borde */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Relleno (padding) del botón */
    border-radius: 7rem; /* Bordes redondeados */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Estilo de subrayado para enlaces */
    display: inline-block; /* Hacer que el botón sea un elemento en línea */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    margin-left: 2rem;
    font-family: 'Roboto';
    font-weight: bold;

}

#login-form-4{
    padding: 9%;
    background: #fff; /* Cambia el color de fondo a blanco */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    color: #282726; /* Cambia el color del texto */

}

#login-form-4 div{
    font-family: 'Roboto';
    font-weight: bold;

}

#txt{
    font-family: 'Roboto';
    font-weight: bold;
    color: $secondary;
}
#txt a{
    font-family: 'Roboto';
    font-weight: bold;
}

#choice{
    font-family: 'Roboto';
    font-weight: bold;
    color: $secondary;
}

#txt_2{
    font-family: 'Roboto';
    font-weight: bold;
    color: $success;

}

#choice2{
    font-family: 'Roboto';
    font-weight: bold;
    color: $success;
}

#añadir_button2{
    background-color: $secondary; /* Color de fondo principal */
    border: 1px solid ;
    border-color: black; /* Color del borde */
    color: white; /* Color del texto */
    padding: 5px 10px; /* Relleno (padding) del botón */
    border-radius: 4px; /* Bordes redondeados */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Estilo de subrayado para enlaces */
    display: inline-block; /* Hacer que el botón sea un elemento en línea */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    margin-left: 2rem;
    font-family: 'Roboto';
    font-weight: bold;

}

#notas_tittle{
    font-family: 'Roboto';
    font-weight: bold;

}

#add-button_nota{
    background-color: $warning; /* Color de fondo principal */
    border: 1px solid ;
    border-color: white; /* Color del borde */
    color: white; /* Color del texto */
    padding: 5px 10px; /* Relleno (padding) del botón */
    border-radius: 4px; /* Bordes redondeados */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Estilo de subrayado para enlaces */
    display: inline-block; /* Hacer que el botón sea un elemento en línea */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    margin-left: 1rem;
    font-family: 'Roboto';
    font-weight: bold;

}

#calcular-button{
    background-color: $success; /* Color de fondo principal */
    border: 1px solid ;
    border-color: white; /* Color del borde */
    color: white; /* Color del texto */
    padding: 5px 10px; /* Relleno (padding) del botón */
    border-radius: 4px; /* Bordes redondeados */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Estilo de subrayado para enlaces */
    display: inline-block; /* Hacer que el botón sea un elemento en línea */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    margin-left: 1rem;
    font-family: 'Roboto';
    font-weight: bold;


}

#button_delete{
    font-family: 'Roboto';
    font-weight: bold;


}

#button_name2{
    border: 1px solid $secondary;
    background-color: $secondary;
    text-align: center;
    outline: white;
    color: white;
    font-family: 'Roboto' ;
    font-weight: bold;
    
  }
  #ingresa_name2{
    font-size: 'Roboto';
    font-weight: bold;
    color:$secondary; 
  }

  #label_login{
    font-size: 'Roboto';
    font-weight: bold;
    color: white;

  }

#box2{
    border: 2px solid $success;
    padding: 2rem
}

#profile_letter{
    font-size: 'Roboto';
    font-weight: bold;
    color: $secondary;

}

#register_background{
    background-color: $secondary;
}

#register_container{
    border: 10px solid $primary;
    border-radius: 25px;
}

#register_tittle{
    font-size: 'Roboto';
    font-weight: bold;
    color: $primary;
}

#send_button{
    font-size: 'Roboto';
    font-weight: bold;
    color: $primary;
}

#button_register{
    color: $primary;
    border: 2px solid $primary;
    background-color: $secondary;
}

#input_register{
    color: black;
    background-color: $secondary;
    font-size: 'Roboto';
    font-weight: normal;

}

#customRadio1{
    background-color: $secondary;
    color: $secondary;
    font-size: 'Roboto';
    font-weight: bold;
    box-shadow: 0 0 0 1px #dbb973, 0 0 0 0.2rem #dbb973;
    box-shadow: 0 0 0 1px $secondary, 0 0 0 0.2rem $secondary;
}

.my-custom-radio input[type="radio"]:checked+.custom-control-label::before {
    background-color: #dbb973; /* Cambia esto al color que desees */
    border-color: #dbb973;
    /* Cambia esto al color que desees */
}

#customRadio2{
    background-color: $secondary;
    color: $secondary;
    font-size: 'Roboto';
    font-weight: bold;
    box-shadow: 0 0 0 1px #dbb973, 0 0 0 0.2rem #dbb973;
    box-shadow: 0 0 0 1px $secondary, 0 0 0 0.2rem $secondary;

}

#label_choice{
    font-size: 'Roboto';
    font-weight: normal;

}

#password_r{
    color: $primary;
    background-color: $secondary;
    font-size: 'Roboto';
    font-weight: normal;
} 

#button_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#faculty{
    font-size: 'Roboto';
    font-weight: normal;
    color: black;
}

#capy_taciturno{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

#capy_preocupado{
    display: flex;
    width: 100% ;
    height: 100%;
    
}

#label_choice_info{
    font-size: 'Roboto';
    font-weight: bold;
}


